<h4><span class="title">注文履歴詳細</span></h4>
<%= form_with model: @order, url: admin_order_path(params[:id]), method: :patch do |f| %>
<table>
  <tbody>
    <tr>
      <td>購入者</td>
      <td><%= @order.customer.full_name %></td>
    </tr>
    <tr>
      <td>注文日</td>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td>
        〒<%= @order.postal_code %>&emsp;<%= @order.address %><br>
        <%= @order.name %>
      </td>
    </tr>
    <tr>
      <td>支払方法</td>
      <td><%= @order.payment_i18n %></td>
    </tr>
    <tr>
        <td><%= f.label :order_status, "注文ステータス" %></td>
        <td><%= f.select :order_status, Order.order_statuses.keys.map { |k| [t("enums.order.order_status.#{k}"),k]} %></td>
        <td><%= f.submit "更新", class: "btn btn-success" %></td>
    </tr>
  </tbody>
</table>
<% end %>
<table class="table table-bordered">
  <thead>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th>製作ステータス</th>
    <th></th>
  </thead>
  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.item.name %></td>
        <td><%= order_detail.price %></td>
        <td><%= order_detail.amount %></td>
        <td><%= order_detail.subtotal %></td>
        <%= form_with model: [@order, order_detail], url: admin_order_details_path(@order.id, order_detail.id), method: :patch do |f| %>
          <td><%= f.select :crafting_status, OrderDetail.crafting_statuses.keys.map { |k| [t("enums.order_detail.crafting_status.#{k}"),k]} %></td>
          <td><%= f.submit "更新", class: "btn btn-success" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
